.dark {
    --color-default: #fff;
    --color-primary: #fff;
    --color-secondary: rgba(255, 255, 255, .07);
    --color-third: rgba(255, 255, 255, 0.11);
    --color-secondary-hover: rgba(255, 255, 255, 0.11);
    --bg-btn-switcher: rgba(255, 255, 255, .07);
    --bg-btn-slide: rgba(0, 0, 0, 0.4);
    --bg-body: #0E1011; 
    --text-inverse: #0E1011; 
    --blur-primary: rgba(255, 255, 255, 0.6);
    --blur-inverse: rgba(14, 16, 17, 0.5);
}
