// Define default variables as a fallback
:root {
    --color-default: #0E1011;
    --color-primary: #0E1011;
    --color-secondary: #F6F6F6;
    --bg-btn-switcher: #F6F6F6;
    --bg-btn-slide: rgba(0, 0, 0, 0.4);
    --bg-body: #fff; 
    --text-inverse: #FFFFFF; 
    --blur-primary: rgba(14, 16, 17, 0.5);
    --blur-inverse: rgba(255, 255, 255, 0.6);
}
