@use "../../sass/global.scss";
.header {
    display: flex;
    padding: 3.5px 20px 11.5px 20px;
    column-gap: 30px;
    align-items: center;
    border-bottom-right-radius: 20px;
    background-color: var(--bg-body);
    width: fit-content;
    transition: all 0.3s ease;
    position: relative;
    &__edge {
        position: absolute;
        width: 20px;
        height: 20px;
        right: -20px;
        top: 0;
        &.edge2 {
            left: 0;
            right: auto;
            top: auto;
            bottom: -20px;
        }
        svg {
            width: 100%;
            height: 100%;
            path {
                fill: var(--bg-body);
                transition: all 0.3s ease;
            }
        }
    }
    &__logo {
        a {
            display: flex;
            column-gap: 6px;
            text-decoration: none;
            transition: all 0.3s ease;
        }
        &-dot {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 4px solid var(--color-primary);
            transition: all 0.3s ease;
        }
        &-text {
            font-size: 17px;
            line-height: 15.3px;
            color: var(--color-primary);
            font-family: "DM Sans", serif;
            font-weight: 500;
            transition: all 0.3s ease;
        }
    }
    &__menu {
        display: flex;
        list-style: none;
        column-gap: 20px;
        padding: 0;
        &-item {
            a {
                display: block;
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                font-family: "DM Sans", serif;
                color: var(--color-primary);
                transition: all 0.3s ease;
                .wrap {
                    overflow: hidden;
                    align-items: center;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    gap: 0px;
                    height: 17px;
                    justify-content: flex-start;
                    overflow: hidden;
                    padding: 0;
                    position: relative;
                    text-decoration: none;
                    width: min-content;
                    &-item {
                        display: flex;
                    }
                }
            }
        }
    }
}
