.project {
    &__item {
        place-self: start;
        aspect-ratio: 0.75 / 1;
        flex: 0 0 auto;
        height: var(auto, 380px);
        position: relative;
        width: 100%;
        &:hover {
            .project__item-thumb {
                img {
                    transform: scale(1.1);
                }
            }
        }
        &-wrap {
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
        }
        &-tag {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            &--name {
                height: 100%;
                height: 35px;
                padding: 0 20px;
                position: relative;
                background-color: var(--bg-body);
                transition: all 0.3s ease;
                border-bottom-right-radius: 20px;
                font-size: 14px;
                font-weight: 400;
                line-height: 1;
                display: flex;
                align-items: center;
                color: var(--color-default);
                letter-spacing: 0.5px;
            }
            &--edge {
                position: absolute;
                width: 20px;
                height: 20px;
                right: -20px;
                top: 0;
                &.edge2 {
                    left: 0;
                    right: auto;
                    top: auto;
                    bottom: -20px;
                }
                svg {
                    width: 100%;
                    height: 100%;
                    path {
                        fill: var(--bg-body);
                        transition: all 0.3s ease;
                    }
                }
            }
        }
        &-thumb {
            width: 100%;
            height: 100%;
            border-radius: 12px;
            position: relative;
            z-index: 1;
            overflow: hidden;
            img {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: inherit;
                object-position: center top;
                object-fit: cover;
                border-radius: 12px;
                transition: all 0.3s ease;
            }
        }
    }
}
