.infomation {
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    justify-content: flex-start;
    overflow: visible;
    position: relative;
    width: 100%;
    &__profile {
        align-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex: 1 0 0px;
        flex-wrap: nowrap;
        overflow: visible;
        position: relative;
        width: 1px;
        .brief {
            font-size: 14px;
            font-weight: 400;
            line-height: 25.6px;
        }
    }
    &__wrap {
        width: 100%;
        height: 100%;
        padding: 48px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: var(--color-primary);
        border-radius: 12px;
        text-decoration: none;
        transition: all 0.3s ease;
        background-color: var(--color-secondary);
        &:hover {
            background-color: var(--color-secondary-hover);
        }
    }
    
}
@media (max-width: 809px) {
    .infomation {
        flex-direction: column;
        &__profile {
            width: 100%;
            .brief {
                text-align: center;
            }
        }
        &__wrap {
            width: 100%;
            padding: 32px;
            row-gap: 48px;
        }
        
    }
}
