.thumb {
    width: 100%;
    height: 100%;
    &__wrap {
        width: 100%;
        height: 100%;
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            display: block;
            object-position: center top;
            object-fit: cover;
            border-radius: 12px;
            transition: all 0.3s ease;
        }
    }
    &__name {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        &--wrap {
            height: 100%;
            height: 35px;
            padding: 0 20px;
            position: relative;
            background-color: var(--bg-body);
            transition: all 0.3s ease;
            border-top-left-radius: 20px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            display: flex;
            align-items: center;
            color: var(--color-default);
            letter-spacing: 0.5px;
        }
        &--edge {
            position: absolute;
            width: 20px;
            height: 20px;
            left: -20px;
            bottom: 0;
            rotate: 180deg;
            &.edge2 {
                left: auto;
                right: 0;
                bottom: auto;
                top: -20px;
            }
            svg {
                width: 100%;
                height: 100%;
                path {
                    fill: var(--bg-body);
                    transition: all 0.3s ease;
                }
            }
        }
    }
}
@media (max-width: 1199px) {
    .thumb {
        aspect-ratio: 1/1;
    }
}