@use "./sass/global.scss";

*,
body,
html {
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", serif;
}
a,
span,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: "DM Sans", serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-body);
  transition: all 0.3s ease;
}

.app {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--bg-body);
  transition: all 0.3s ease;
  padding: 12px 0;
  &__header {
    position: fixed;
    width: fit-content;
    left: 12px;
    top: 12px;
    flex: none;
    height: auto;
    z-index: 8;
  }
  &__mobile {
    position: fixed;
    width: fit-content;
    left: auto;
    right: 12px;
    top: 12px;
    flex: none;
    height: auto;
    z-index: 8;
  }
  &__menumobile {
    position: absolute;
    z-index: 10;
    inset: 0;
    background-color: var(--bg-body);
  }
  &__main {
    width: 100%;
    height: 100%;
  }
}
.common {
  width: 100%;
  height: 100%;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 12px;
  justify-content: flex-start;
  overflow: hidden;
  overflow-y: auto;
  padding: 0 12px;
  position: relative;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
  &__sticky {
    align-content: center;
    align-items: center;
    display: flex;
    flex: 1 0 0px;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
    height: 100%;
    justify-content: flex-start;
    overflow: visible;
    top: 0;
    width: 1px;
    will-change: transform;
    z-index: 1;
  }
  &__content {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex: 1 0 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 12px;
    height: min-content;
    justify-content: center;
    overflow: visible;
    position: relative;
    width: 1px;
  }
}

.scroll-thin {
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}

.btn-switcher {
  width: 30px;
  height: 20px;
  background-color: var(--bg-btn-switcher);
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 6px;
  border: none;
  outline: none;
  border-radius: 20px;
  transition: all 0.3s ease;
  &.dark {
    transition: all 0.3s ease;
    justify-content: flex-end;
  }
  &--dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--color-primary);
    transition: all 0.3s ease;
  }
}
@media (min-width: 1200px) {
  .common {
    flex-direction: row;
    &__sticky {
      position: sticky;
    }
  }
}

@media (max-width: 1199px) {
  .common {
    flex-direction: column;
    &__sticky {
      flex: 0 0 auto;
      height: min-content;
      padding: 0px;
      position: relative;
      top: unset;
      width: 100%;
    }
    &__content {
      flex: 0 0 auto;
      padding: 0px;
      width: 100%;
    }
  }
}
@media (min-width: 810px) {
  .app__mobile,
  .app__menumobile {
    display: none;
  }
}
