.info {
    display: flex;
    flex: none;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 12px;
    justify-content: flex-start;
    overflow: visible;
    position: relative;
    width: 100%;
    &__brief {
        align-content: flex-start;
        align-items: flex-start;
        display: flex;
        flex: 1 0 0px;
        flex-wrap: nowrap;
        overflow: visible;
        position: relative;
        width: 1px;
        .name {
            font-size: 40px;
            line-height: 48px;
            font-weight: 400;
        }
        .brief {
            font-size: 14px;
            line-height: 25.6px;
        }
        &-wrap {
            width: 100%;
            height: 100%;
            padding: 48px;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: var(--color-primary);
            border-radius: 12px;
            text-decoration: none;
            transition: all 0.3s ease;
            background-color: var(--color-secondary);
        }
    }
    &__detail {
        display: grid;
        grid-template-columns: repeat(1, 1fr); // 3 equal columns
        grid-gap: 12px;
        flex: 1 0 0px;
        height: min-content;
        justify-content: center;
        overflow: visible;
        position: relative;
        width: 1px;
        &-item {
            position: relative;
            &--wrap {
                width: 100%;
                transition: all 0.3s ease;
                background-color: var(--color-secondary);
                padding: 24px;
                border-radius: 12px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                text-decoration: none;
                color: var(--color-primary);
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                position: relative;
            }
            .key {
                transition: all 0.3s ease;
                color: var(--blur-primary);
            }
            .value {
                text-transform: capitalize;
            }
        }
    }
}
