.footer {
    &__menu {
        display: flex;
        list-style: none;
        column-gap: 20px;
        padding: 0;
        &-item {
            a {
                display: block;
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                font-family: "DM Sans", serif;
                color: var(--blur-inverse);
                transition: all 0.3s ease;
                &:hover {
                    color: var(--text-inverse);
                }
                .wrap {
                    overflow: hidden;
                    align-items: center;
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    gap: 0px;
                    height: 17px;
                    justify-content: flex-start;
                    overflow: hidden;
                    padding: 0;
                    position: relative;
                    text-decoration: none;
                    width: min-content;
                    &-item {
                        display: flex;
                    }
                }
            }
        }
    }
}
